
<hr>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="/">Home</a>
      <a href="/history.html"> History </a>
      <a href="/contribution.html"> Contribute </a>
      <a href="/licensing.html"> Licensing</a>
    </ul>
  </div>
</nav>
<hr>