<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Contribution</title>
        <% include partials/head %>
        <header>
            <a href="https://www.apache.org"><img src="./img/apache.png" alt="apache logo and link"></a>
            <h1>Contribution</h1>
            <% include partials/nav %>
            <% include partials/faker %>
        </header>
    <main class="scroller">
        <div>
            <h2>Paid Support</h2>
            <p>Some projects offer direct paid support, but others 
            may direct you to third party companies for subscription based
            support. By purchasing a support subscription you are able to
            help the support group to better document common issues and 
            ecommendations for future documentation and implementation. 
            In addition to the information and profit that is gained through
            support contracts, the support groups may send a portion of your
            support dues and the output of your issues and recommendations 
            back to the project in consolidated batches.</p>
        </div>
        <div>
            <h2>Donations</h2>
            <p>Time is money and the time that people spend working on a project
            may cost them money from paid work they are missing and in some
            cases certian projects have paid full-time staff to guarantee
            their rate of evolution. Feel free to visit a project’s home
            page to see if a donation link is supplied to donate what you
            can or what you think the project saved you financially to 
            guarantee that the rate of evolution continues.</p>
        </div>
        <div>
            <h2>Membership And Subscriptions</h2>
            <p>Even though you received the product(s) for free,
            it never hurts to get a little more in return.
            By choosing to purchase menbership or subscriptions 
            you offer scheduled income for project and also get products
            or information in return. The guarantee of additional income
            helps a project to be able to plan their future finances and 
            decide if they can afford to hire full time employees to allow 
            more focused and structured work to speed up the evolution.</p>
        </div>
        <div>
            <h2>Contributing Your Time/Skills</h2>
            <p>Most open source software is built completely by volunteers
            (without compensation) because they want a product that fits their 
            needs. The list of contributors may seem large, but 
            every person has different skills to offer and your skills
            may be what it takes for a project to evolve. In most cases 
            you do not need to be a programmer to help, many projects need
            graphic artists, document writers, webmasters, 
            database administrators, etc.., if you wish to offer 
            your time to help a project you should check their home 
            page for a listing of needed skills or you can write their
            mailing lists to ask if any of your skills can be utilized.<p>
            By adding your hands, eyes and associated skills to their project
            you may make a valuable contirbution that can push the project
            and their competitors to advance technology to the next level,
            so please do not be afraid to ask and offer your time.</p>
        </div>
        <div>
            <h2>Product Purchases</h2>
            <p>As with the Membership and Subscriptions, 
            by purchasing goods from the project’s store you are
            able to contribute money and receive goods in return.
            Even though the percentage of profit from the purchases
            is less than the profits gained from donations, you are able 
            to contribute something greater which is advertising. Consider
            that through a purchase that only gives a project $5 of profit
            you are able to direct additional people to the project which 
            will lead to greater contributions from those new users, so your 
            $20 purchase may in fact yield several hundred dollars and
            new contributors for the project in the long term.</p>
        </div>
        <div>
            <h2>The Unspoken Contributions</h2>
            <p>Even though the methods given above result in 
            direct financial support or evolution, you as a user can give 
            back in a way that requires no money and limited time. You as a 
            user can contribute back to the project(s) by filing bug reports 
            and recommendation so they can fix issues and adapt the product 
            to better fit the needs of the current users.</p>
        </div>

    </main>
    <div id="Misc">
        <p>Find Projects to contribute to: 
            <a href="https://opensource.guide/how-to-contribute/">
            opensource.guide/how-to-contribute/
            </a>
        </p>
    </div>
   <% include partials/footer %>
</html>