<!DOCTYPE html>
<html lang="en">

    <head>
         <title>History of FOSS</title>
         <% include partials/head %>
        <header>
            <a href="https://www.fsf.org"><img src="./img/fsf.jpeg" alt="fsf logo and link"></a>
            <h1>History</h1>
            <% include partials/nav %>
            <% include partials/faker %>
        </header>
    <main class="scroller">
        <div>
            <h2>Origins</h2>
                <p>The origins of FOSS goes back to the 1950s.
            When hardware was purchased, there used to be no additional charges
            for bundled software and the source code would also be available in
            order to fix possible bugs in the software.<p>
            It was actually a common Practice back then for users
            with the freedom to customize the code. <p>
            At that time, mostly academicians and researchers in the industry
            were the collaborators to develop such software.<p>
            The term Open Source was not there yet. Instead, the term that 
            was popular at that time was “Public Domain Software”. 
            As of today, ideologically, both are very much different
            in nature even though they may sound similar.</p>
            
            
        </div>
        <div>
            <h2>The GNU Project</h2>
                <p>Announced at MIT on September 27, 1983, by Richard Stallman,
            the GNU Project is what immensely empowers and supports 
            the Free Software Community today.</p>
        </div>
        <div>
            <h2>Free Software Foundation</h2>
            <p>The “Free Software Movement” by Richard Stallman established a 
            new norm for developing Free Software. <br><br>
            He founded The Free Software Foundation (FSF) on 4th October 1985
            to support the free software movement. Software that ensures 
            that the end users have freedom in using, studying, sharing
            and modifying that software came to be called as Free Software.<br><br></p>
           
            <em>Free as in Free Speech, Not Free Beer </em>
            
            <p>The Free Software Movement laid the following rules
            to establish the distinctiveness of the idea:</p>
            <ul>
                <li>The freedom to run the program as you wish, for any purpose (freedom 0).
                </li>
                <li>The freedom to study how the program works, and 
                hange it so it does your computing as you wish (freedom 1).
                Access to the source code is a precondition for this.
                </li>
                <li>The freedom to redistribute copies so you can help
                your neighbor (freedom 2).
                </li>
                <li>The freedom to distribute copies of your modified
                versions to others (freedom 3). 
                By doing this you can give the whole 
                community a chance to benefit from your 
                changes. Access to the source code is a 
                recondition for this.
                </li>
            </ul>
        </div>
        <div>
            <h2>The Linux Foundation</h2>
            <p>The Linux Foundation has a goal to empower open source projects
            to accelerate technology development and commercial adoption.
            It is an initiative that was taken in 2000 via the Open Source
            Development Labs (OSDL) which later merged with the Free Standards Group.<p>
            Linus Torvalds works at The Linux Foundation who 
            provide complete support to him so that he can work 
            full-time on improving Linux.</p>
        </div>
        <div>
            <h2>Open Source</h2>
            <p>When the source code of Netscape Communicator was released in 
            1998, the label “Open Source” was adopted by a group
            of individuals at a strategy session held on February 3rd,
            1998 in Palo Alto, California. The idea grew from a visionary
            realization that the Netscape announcement had
            changed the way people looked at commercial software.<p>
            This opened up a whole new world, creating a new perspective 
            that revealed the superiority and advantage of an open development
            process that could be powered by collaboration.</p>
        </div>

    </main>
    
  <% include partials/footer %>
</html>