<!DOCTYPE html>
<html lang="en">
    <head>
        <title>What is FOSS?</title>
        <% include partials/head %>

        <header>
            <a href="https://opensource.org"><img src="./img/OSI.png" alt="OSI logo and link"></a>
            <h1>What is Free and Open Source Software?</h1>
            <% include partials/nav %>
            <% include partials/faker %>

        </header>
    <main class="scroller">
        <div>
            <h2>Just what is it?</h2>
            <p>Free and Open source Software is software with source code that
            anyone can inspect, modify, and enhance.<p>
            "Source code" is the part of software that most computer users 
            don't ever see; it's the code computer programmers can manipulate 
            to change how a piece of software—a "program"
            or "application"—works. Programmers who have access to a 
            computer program's source code can improve that program 
            by adding features to it or fixing parts that don't 
            always work correctly.</p>
        </div>
        <div>
            <h2>What makes it different?</h2>
            <p>Some software has source code that only the person,
            team, or organization who created it—and maintains exclusive 
            control over it—can modify.
            People call this kind of software "proprietary" or "closed source"
            software.<p>
            The intent is for its original authors are the only ones that that
            can legally copy, inspect, and alter their software.
            For a person to use any proprietary software, computer users have to
            agree to software agreements or licenses and will limit the user
            to the intended agreement be it that they can only use it, but not
            change, modify or redistribute it, and in some cases limit the user to
            a time limit.<p>
            Free and Open Source Software is different. The authors allow source code to
            be available anyone that would like to view that code, copy it, 
            learn from it, alter it, or share it. Much like that of closed source 
            software, there are license agreemnts, but theses agreemnts differ 
            dramatically from those of propriery licenses. See Licensing for more
            details on the most common Open source licenses.</p>
        </div>
    </main>
        <iframe src="https://www.youtube.com/embed/MtNcxMuphLc"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <div id="sources">
        <strong>Sources: </strong>
            <ul class="sources">
                <li><a href="https://opensource.com/resources/what-open-source">opensource.com/resources/what-open-source/</a></li>
                <li><a href="https://opensenselabs.com/blog/articles/opensource-community">opensenselabs.com/blog/articles/opensource-community/</a></li>
                <li><a href="https://fossbytes.com/open-sources-license-type/">fossbytes.com/open-sources-license-type/</a></li>
                <li><a href="https://itsfoss.com/history-of-foss/">itsfoss.com/history-of-foss/</a></li>
                <li><a href="https://www.linux.com/tutorials/how-contribute-foss/">linux.com/tutorials/how-contribute-foss/</a></li>
                <li><a href="https://www.youtube.com/watch?v=MtNcxMuphLc">Video Link Found here</a></li>
            </ul>    
    </div>
        
    <% include partials/footer %>
</html>