<!DOCTYPE html>
<html lang="en">

    <head>
        <title>About Licensing</title>
        <% include partials/head %>
        <header>
            <a href="https://www.copyleft.org"><img src="./img/copyleft.png" alt="copyleft logo and link"></a>
            <h1>Licensing</h1>
            <% include partials/nav %>
            <% include partials/faker %>
        </header>
    <main class="scroller">
        <div>
            <h2>Why it Matters</h2>
            <p>Free and Open Source licenses affect the way people can use,
            study, modify, and distribute software. In general, 
            open source licenses grant computer users permission
            to use open source software for any purpose they wish.
            Some open source licenses—what some people call "copyleft" 
            licenses—stipulate that anyone who releases a modified open 
            source program must also release the source code for that
            program alongside it. Moreover, some open source licenses 
            stipulate that anyone who alters and shares a program with 
            others must also share that program's source code 
            without charging a licensing fee for it.<p>
            By design, open source software licenses promote
            collaboration and sharing because they permit other people
            to make modifications to source code and incorporate those
            changes into their own projects. They encourage computer
            programmers to access, view, and modify open source
            software whenever they like, as long as they let
            others do the same when they share their work.</p>
        </div>
        <div id="licenceDes">
            <h2>Most Common Licenses</h2>
            <h3>GNU General Public License (GPL)</h3>
                <ol>
                    <li><strong>Copy The Software</strong>
                        <p>There’s no limit to where you can copy that code.
                        Copy it on your own server, on your client’s server, 
                        on your local workstations, 
                        wherever and howsoever many times.</p></li>
                    <li><strong>Distribution</strong>
                        <p>You can distribute it in your thumb or hard drives,
                        you can distribute the code under this license
                        with a download link on your website, 
                        you can print out the code on paper,
                        whatever form of distribution you want.</p></li>
                    <li><strong>Charge a Fee</strong>
                        <p>You can charge someone for the software, but 
                        remember to give them a copy of GNU GPL 
                        which would tell them that they could get 
                        the software free from elsewhere. This also gives 
                        a chance for you to tell them why you are 
                        charging for it.</p></li>
                    <li><strong>Change the Codebase Howsoever</strong>
                        <p>If you want to fork the project and make changes to it,
                        you can. Remove or add features
                        howsoever you want. The only condition is
                        that your project 
                        should also be released under GNU GPL.</p></li>
                </ol>
            <h3>BSD</h3>
                <ol>
                    <li>Redistributions of source code must retain the above 
                        copyright notice, this list of conditions and the 
                        following disclaimer.</li>
                    <li> Redistributions in binary form must reproduce the
                        above copyright notice, this list of conditions
                        and the following disclaimer in the
                        documentation and/or other materials
                        provided with the distribution.</li>
                    <li>Neither the name of the copyright holder nor the 
                        names of its contributors may be used 
                        to endorse or promote products derived
                        from this software without specific prior
                        written permission.</li>
                </ol>
            <h3>MIT</h3>
                <blockquote>Permission is hereby granted, free of charge, to any
                    person obtaining a copy of this software and associated
                    documentation files (the “Software”),
                    to deal in the Software without restriction,
                    including without limitation the rights to use,
                    copy, modify, merge, publish, distribute, sublicense,
                    and/or sell copies of the Software, and to permit 
                    persons to whom the Software is furnished to do so,
                    subject to the following conditions: <br><br>
                    The above copyright notice and this permission notice
                    shall be included in all copies or substantial portions
                    of the Software.</blockquote>
                
                <p>This basically means that you can use, copy, 
                    and modify the software however you want.
                    No one can prevent you from using it in any other project.
                    You can give the software under it for free, or sell it.
                    No restrictions on distribution howsoever. 
                    Anyone can do whatever one fancies with the code licensed
                    under MIT license, as long as it’s accompanied by the 
                    license.</p>
            
            <h3>Creative Commons</h3>
                <ol>
                    <li><strong>Accreditation</strong>
                        <p>Author must be attributed as the creator of the work.
                        Then, work can be modified, distributed,
                        copied, used otherwise.</p></li>
                    <li><strong>Shared with CC</strong>
                        <p>The work can be modified, distributed 
                        ut only under CC License.</p></li>
                    <li><strong>Non-Commercial</strong>
                        <p>Work can be modified, distributed but not
                        for commercial purposes. The word “commercial” is a bit
                        vague in its meaning since no solid lined definition
                        is provided.</p></li>
                    <li><strong>No Derivative Works</strong>
                        <p>You can copy and distribute the licensed work,
                        but you can’t modify it in any way or create
                        work based on the origin</p></li>
                </ol>
            <h3>Apache</h3>
            <ol>
                    <li><strong>Rights are Never Ending</strong>
                        <p>Once the rights under Apache License have been granted,
                        you can continue to use them forever, there’s 
                        no need of renewing it.</p></li>
                    <li><strong>Worldwide Authority of Rights</strong>
                        <p>Even if rights are granted for one country, automatically,
                        they’re granted in all countries.</p></li>
                    <li><strong>Rights for No Fee or Royalty</strong>
                        <p>No charge, neither up front nor per usage or on 
                        any other basis applicable.</p></li>
                    <li><strong>Rights are Irrevocable</strong>
                        <p>No can ever say to you that your derivative of the code
                        that was licensed under this license can’t be in use anymore
                        (A clause in the license states that if you sue someone
                        over patent infringement on anything under this license,
                        then your license is terminated, but that only applies
                        to patented work, and as long as you don’t sue anyone 
                        over the work, you won’t have to worry about it).</p></li>
                </ol>
        </div>
    </main>
    

    
    <div id="Misc">
        <p>More info on Licenses found here: 
            <a href="https://opensource.org/licenses">
            https://opensource.org/licenses
            </a>
        </p>
    </div>
    <% include partials/footer %>
</html>